*{
    margin: 0px;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: purple;
    height: 100px;
}

header div ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    margin-left: 250px;
}

header div ul li{
    padding-top: 40px;
    padding-left: 30px;
}

header div ul li a{
     text-decoration: none;
     color: white;
     font-size: 22px;
}

h1{
    font-size: 50px;
    font-weight: normal;
    padding-left: 60px;
    padding-top: 20px;
    color: white;
}

.logo{
    margin-top: 15px;
    margin-left: 50px;
    border-radius: 50px;
}

.login{
   font-size: 20px;
   color: white;
}

section{
    margin: 100px 50px 50px 100px;
}

h2{
    font-size: 30px;
    margin: 20px 0px 50px 0px;
}

strong{
    font-size: 20px;
}

.photo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

.photo p{
    font-size: 18px;
    margin: 50px 0px 0px 80px;
}

.name{
    margin: 10px 0px 0px 50px;
}

.section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}