*{
    margin: 0px;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: purple;
    height: 100px;
}

header div ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    margin-left: 550px;
}

header div ul li{
    padding-top: 40px;
    padding-left: 30px;
}

header div ul li a{
     text-decoration: none;
     color: black;
}

h1{
    font-size: 50px;
    font-weight: normal;
    padding-left: 60px;
    padding-top: 20px;
    color: white;
}

.logo{
    margin-top: 15px;
    margin-left: 50px;
    border-radius: 50px;
}

.login{
   font-size: 20px;
   color: white;
}

.subheading{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100px;
    width: 1485px;
    background-color: #F5F5F5;
}

h2{
    font-size: 30px;
    margin: 30px 0px 0px 50px;
}

.clr{
    font-size: 22px;
    margin: 35px 0px 0px 60px;
}

.mrp{
    font-size: 22px;
    margin: 35px 0px 0px 60px;
}

select{
    height: 25px;
    width: 100px;
    border-radius: 3px;
}    

.thumbnail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 60px 0px 30px 30px;
}

img{
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
}

.img{
    margin-left: 35px;
}

h3{
    font-size: 22px;
    font-weight: normal;
    margin-top: 20px;
    margin-left: 33px;
    width: 250px;
}

p{
    color: black;
    font-size: 20px;
    word-spacing: 5px;
    margin-top: 10px;
    margin-left: 30px; 
}

s{
    color: gray;
}

.percent{
    color: green;
}

.products:hover{
    transform: scale(1.1);
}

.chaitra:hover{
    transform: scale(1.1);
}

.products{
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
}

.chaitra{
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
}
