*{
    margin: 0px;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: purple;
    height: 100px;
}

header div ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    margin-left: 550px;
}

header div ul li{
    padding-top: 40px;
    padding-left: 30px;
}

header div ul li a{
     text-decoration: none;
     color: black;
}

h1{
    font-size: 50px;
    font-weight: normal;
    padding-left: 60px;
    padding-top: 20px;
    color: white;
}

.logo{
    margin-top: 15px;
    margin-left: 50px;
    border-radius: 50px;
}

.login{
    font-size: 20px;
    color: white;
}

.thumbnail{
    position: relative;
    top: 30px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
}

h3, p{
    color: maroon;
}

.products{
    border: 1px solid #f8f8f8;
    height: 400px;
    width: 280px;
    background-color: #f8f8f8;
    position: relative;
}

.products img{
    position: relative;
    left: 50px;
    top: 40px;
    border-radius: 10px;
}

h3{
    position: relative;
    top: 80px;
    left: 15px;
}

p{
    position: relative;
    left: 40px;
    top: 90px;
    color: black;
    font-size: 20px;
    word-spacing: 5px;
}

s{
    color: darkgrey;
}

.chaitra{
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
    height: 400px;
    width: 280px;
    position: relative;
}

.chaitra img{
    border-radius: 8px;
    position: relative;
    left: 60px;
    top: 40px;
}

.subheading{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100px;
    width: 1470px;
    background-color: #F5F5F5;
}

.star{
    position: relative;
    top: 100px;
    left: 20px;
}

.stars{
    font-size: 20px;
}

.del{
    position: absolute;
    left: 245px;
    top: 10px;
}

.chaitra a{
    text-decoration: none;
}

.products a{
    text-decoration: none;
}