*{
    margin: 0px;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #D3D3D3;
    height: 100px;
}

header div ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    margin-left: 450px;
}

header div ul li{
    padding-top: 30px;
    padding-left: 20px;
}

header div ul li a{
     text-decoration: none;
     color: black;
}

h1{
    font-size: 50px;
    padding-left: 60px;
    position: relative;
    top: 20px;
}

.logo{
    margin-top: 15px;
    margin-left: 50px;
    border-radius: 50px;
}

.login{
    position: relative;
    top: 5px;
}

.left{
    width: 50%;
    position: relative;
    top: 100px;
    left: 200px;
}

.image img{
    border-radius: 10px;
}

.sub-images{
    position: relative;
    top: 60px;
    display: inline-block;
    padding: 7px;
}

.sub-images img{
    border-radius: 5px;
}

.sub-images img:hover{
    transform: translateY(-5);
    transition: 0.2s;
    box-shadow: 5px 10px 18px #888888;
}

.right{
    border: 2px solid white;
    height: 600px;
    width: 500px;
    position: relative;
    left: 750px;
    bottom: 445px;
}

h2{
    font-size: 30px;
}

.per{
    font-size: 25px;
    position: relative;
    top: 60px;
}

h3{
    font-size: 25px;
    color: red;
    position: relative;
    top: 10px;
}

h4{
    font-size: 20px;
    color: green;
    position: relative;
    top: 20px;
}

p{
    font-size: 18px;
    position: relative;
    top: 40px;
}

s{
    color: gray;
    position: relative;
    bottom: 10px;
    left: 5px;
}

b{
    color: green;
    position: relative;
    bottom: 10px;
    left: 10px;
}

strong{
    font-size: 20px;
    position: relative;
    bottom: 10px;
}

.name{
    font-size: 22px;
    position: relative;
    top: 90px;
}

.add{
    font-size: 22px;
    position: relative;
    top: 115px;
}

.no{
    font-size: 22px;
    position: relative;
    top: 135px;
}

.cash{
    font-size: 22px;
    position: relative;
    top: 180px;
}

.c1{
    position: relative;
    margin-left: 85px;
}

.c2{
    position: relative;
    margin-left: 85px;
}

input[type="name"]{
    height: 25px;
    width: 200px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 25px;
    position: relative;
    left: 120px;
}

input[type="text"]{
    height: 25px;
    width: 200px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 25px;
    position: relative;
    left: 100px;
}

input[type="no"]{
    height: 25px;
    width: 200px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 25px;
    position: relative;
    left: 45px;
}

.on{
    font-size: 20px;
    position: relative;
    left: 185px;
    bottom: 22px;

}

.place{
    height: 50px;
    width: 200px;
    border: 2px solid darkorange;
    background-color: darkorange;
    border-radius: 5px;
    color: white;
    position: relative;
    top: 200px;
    left: 170px;
}
