*{
    margin: 0px;
    font-family: 'Kreon', serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: purple;
    height: 100px;
}

header div ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    margin-left: 550px;
}

header div ul li{
    padding-top: 40px;
    padding-left: 30px;
}

header div ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

h1{
    font-size: 50px;
    font-weight: normal;
    padding-left: 60px;
    position: relative;
    top: 20px;
    color: white;
}

.logo{
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 50px;
    position: relative;
    bottom: 10px;
}

.login{
    font-size: 20px;
    color: white;
}

section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: 150px 0 200px 370px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 950px;
    width: 800px;
    box-shadow: 2px 4px 8px 2px rgba(6, 6, 6, 0.2), 3px 6px 20px 3px rgba(0, 0, 0, 0.19);
}

section h1{
    color: black;
    font-weight: bold;
    font-size: 55px;
    margin: 20px 0 0 130px;
}

section img{
    border-radius: 48%;
    margin: 80px 0 0 150px;
    object-fit: unset;
}

.detail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 23px;
    margin: 50px 0 0 50px;
}

.name{
    padding-left: 130px;
}

.age{
    padding-left: 150px;
}

.female{
    padding-left: 120px;
}

.phno{
    padding-left: 35px;
}

.mail{
    padding-left: 100px;
}

.buyer{
    padding-left: 30px;
}

.add1{
     padding-left: 10px;
}

.add2{
    padding-left: 200px;
}

.add3{
    padding-left: 200px;
}



button a{
    color: white;
    text-decoration: none;
}

.btn-1{
    height: 35px;
    width: 100px;
    background-color: purple;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 50px 0 0 300px;
}

.btn-2{
    height: 35px;
    width: 100px;
    background-color: gray;
    border: none;
    border-radius: 5px;  
    font-size: 20px;
    position: relative;
    left: 20px;
}

.menu{
    display: none;
}

@media only screen and (max-width: 800px)

{

    header{
        height: 8vh;
        width: 100vw;
     }

     .logo{
        height: 40px;
        width: 40px;
        margin-left: 10px;
     }

     h1{
        font-size: 30px;
        margin-top: -2px;
        margin-left: -50px;
     }

     .nav{
        display: none;
    }

    .menu{
        display: block;
        font-size: 26px;
        color: white;
        margin-top: 20px;
        margin-left: 90px;
        position: relative;
    }

    .menu-list a{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        color: white;
        padding: 5px;
        text-decoration: none;
    }

    .menu:hover .menu-list{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        margin-top: -38px;
        margin-left: -250px;
    }

    .menu-list{
        display: none;
        color: white;
        position: absolute;
    }

    section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        margin-top: 90px;
        margin-left: 13px;
        border: 1px solid gray;
        border-radius: 10px;
        height: 650px;
        width: 370px;
        box-shadow: 2px 4px 8px 2px rgba(6, 6, 6, 0.2), 3px 6px 20px 3px rgba(0, 0, 0, 0.19);
        font-weight: bold;
    }

    section h1{
        color: black;
        font-weight: bold;
        font-size: 40px;
        align-items: center;
        
    }
    
    section img{
        height: 90px;
        width: 90px;
        position: relative;
        left: 110px;
        top: 30px;
    }    
    
    .btn-2 a{
        text-decoration: none;
        color: white;
    }
    
    
    
    input[type="email"]{
        height: 20px;
        width: 155px;
        font-size: 15px;
       
        outline: none;
    }
    
    input[type="name"]{
        height: 20px;
        width: 130px;
        font-size: 15px;
        padding-left: 25px;
        
        outline: none;
    }
    
    input[type="number"]{
        height: 20px;
        width: 128px;
        padding-left: 25px;
        font-size: 15px;
        position: relative;
        left: 27px;
        outline: none;
    }
    
    input[id="age"]{
        height: 20px;
        width: 130px;
        padding-left: 25px;
        font-size: 15px;
       
        outline: none;
    }
    
    textarea{
        height: 20px;
        width: 130px;
        padding-left: 25px;
        font-size: 15px;
      
        outline: none;
    }

    .male{
        display: inline-block;
        
    }
    
    .btn-1{
        font-size: 18px;
       
        align-content: space-between;
        border-radius: 3px;
        border: 1px solid purple;
        color: white;
        background-color: purple;
        height: 25px;
        width: 80px;
    }
    
    .btn-1 a{
        text-decoration: none;
        color: white;
    }
    
    .btn-2{
        font-size: 18px;
        
        align-content: space-between;
        border-radius: 3px;
        border: 1px solid gray;
        background-color: gray;
        height: 25px;
        width: 80px;
    }
    
    .buyer{
        display: inline-block;
       
    }

    
}