*{
    margin: 0px;
    font-family: 'Kreon', serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: purple;
    height: 100px;
}

header div ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    margin-left: 550px;
}

header div ul li{
    padding-top: 40px;
    padding-left: 30px;
}

header div ul li a{
     text-decoration: none;
     color: white;
     font-size: 24px;
}

h1{
    font-size: 50px;
    font-weight: normal;
    padding-left: 60px;
    position: relative;
    top: 20px;
    color: white;
}

.logo{
    margin-top: 15px;
    margin-left: 50px;
    border-radius: 50px;
    height: 70px;
    width: 70px;
}

.login{
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.left{
    width: 50%;
    position: relative;
    top: 100px;
    left: 200px;
}

.image img{
    border-radius: 10px;
}

.sub-images{
    position: relative;
    top: 40px;
    display: inline-block;
    padding: 8px;
}

.sub-images:hover{
   transform: translateY(-5px);
   transition: 0.2s;
   box-shadow: 5px 10px 18px  #888888;
}

.sub-images img{
    border-radius: 5px;
}

.right{
    border: 2px solid white;
    height: 600px;
    width: 500px;
    position: relative;
    left: 750px;
    bottom: 445px;
}

h2{
    font-size: 30px;
}

.per{
    font-size: 25px;
    position: relative;
    top: 60px;
}

h3{
    font-size: 25px;
    color: red;
    position: relative;
    top: 10px;
}

h4{
    font-size: 20px;
    color: green;
    position: relative;
    top: 20px;
}

p{
    font-size: 18px;
    position: relative;
    top: 40px;
}

s{
    color: gray;
    position: relative;
    bottom: 10px;
    left: 5px;
}

b{
    color: green;
    position: relative;
    bottom: 10px;
    left: 10px;
}

strong{
    font-size: 20px;
    position: relative;
    bottom: 10px;
}

.name{
    font-size: 22px;
    position: relative;
    top: 90px;
}

.add{
    font-size: 22px;
    position: relative;
    top: 115px;
}

.no{
    font-size: 22px;
    position: relative;
    top: 135px;
}

.cash{
    font-size: 22px;
    position: relative;
    top: 180px;
}

.c1{
    position: relative;
    margin-left: 85px;
}

.c2{
    position: relative;
    margin-left: 85px;
}

input[type="name"]{
    height: 25px;
    width: 200px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 25px;
    position: relative;
    left: 120px;
    outline: none;
}

input[type="text"]{
    height: 25px;
    width: 200px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 25px;
    position: relative;
    left: 100px;
    outline: none;
}

input[type="no"]{
    height: 25px;
    width: 200px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 25px;
    position: relative;
    left: 45px;
    outline: none;
}

.on{
    font-size: 20px;
    position: relative;
    left: 185px;
    bottom: 22px;

}

.place{
    height: 50px;
    width: 200px;
    border: 2px solid purple;
    background-color: purple;
    border-radius: 5px;
    color: white;
    position: relative;
    top: 200px;
    left: 170px;
}

footer{
    background-color: purple;
    height: 310px;
    margin-top: -300px;
}

.about{
    margin: 60px 70px;
    padding-top: 10px;
    color: white;
}

.us{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
    word-spacing: 5px;
}

.us a{
    text-decoration: none;
    color: white;
}

.us p{
   font-size: 20px;
   font-weight: normal;
   margin: 0;
}

.about h4{
    font-size: 25px;
    color: white;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact{
    font-size: 20px;
    margin: 70px 0px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact div{
    margin: 15px 0;
    font-size: 23px;
    color: white;
}

.contact div p{
    font-size: 20px;
   font-weight: normal;
   margin: 0;
   color: white;
}

.con{
    font-size: 23px;
    position: relative;
    top: 10px;
    right: 5px;
}

.line{
    border-right: 2px solid gray;
    height: 190px;
    margin: 60px;
}

.socials{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.socials div{
    margin: 0 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    justify-content: center;
    border: 0;
}

.insta{
    background-image: linear-gradient(315deg, #7110d2, #de46a9);
    color: white;
}

.fb{
    background-color: #3b5998;
    color: white;
}

.wa{
    background-color: #25d366;
    color: white;
}

.twiter{
    background-color: #00acee;
    color: white;
}

.collections img{
    border-radius: 150px;
    padding: 40px;
}

.icons div{
    position: relative;
}

.div{
    font-size: 25px;
    font-weight: bold;
    margin-left: 70px;
    display: inline-flex;
    bottom: 20px;
}

.divs{
    font-size: 25px;
    font-weight: bold;
    margin-left: 90px;
    bottom: 20px;
}

.divss{
    font-size: 25px;
    font-weight: bold;
    margin-left: 100px;
    bottom: 20px;
}