*{
    margin: 0;
    font-family: 'Kreon', serif;
}

body{
    background-color: rgb(252, 252, 252);
}

header{
    display: flex;
    flex-wrap: wrap;
    background-color: 	purple;
    height: 100px;
    position: sticky;
    top: 0px;
    z-index: 10;
}

header div ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 550px;
}

header div ul li{
    padding-top: 40px;
    padding-left: 30px;
}

.nav a{
     text-decoration: none;
     color: white;
     font-size: 24px;
}

#count {
    background-color: white;
    color: purple;
    font-size: 20px;
    border-radius: 50%;
    height: 20px;
    width: 22px;
    margin-top: -44px;
    margin-left: 17px;
    text-align: center;
    font-weight: bold;
}

h1{
    font-size: 50px;
    font-weight: normal;
    padding-left: 60px;
    padding-top: 20px;
    color: white;
}

.logo{
    height: 70px;
    width: 70px;
    margin-top: 15px;
    margin-left: 50px;
    border-radius: 50px;
}

.login{
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.logout{
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.sub-heading{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
}

.sub-heading a{
     text-decoration: none;
     padding-left: 60px;
     padding-top: 35px;
     color: black;
     font-size: 28px;
     height: 7vh;
}

.icon{
    display: flex;
    padding-top: 30px;
    padding-left: 180px;
}

input[type=text]{
    height: 30px;
    width: 200px;
    padding: 3px 15px;
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
    font-size: 20px;
}

input:focus{
    transition: .70s ease-in-out;
    width: 700px;
    border: 1px solid gray;
}

.search{
    color: gray;
    position: relative;
    top: 11px ;
    left: -20px ;
}

section{
    margin-top: 50px;
    margin-left: 35px;
}

.icons img{
    width: 200px;
    height: 200px;
}

.icons div{
    position: relative;
}

.div{
    font-size: 25px;
    font-weight: bold;
    margin-left: 70px;
    display: inline-flex;
    bottom: 20px;
}

.divs{
    font-size: 25px;
    font-weight: bold;
    margin-left: 90px;
    bottom: 20px;
}

.divss{
    font-size: 25px;
    font-weight: bold;
    margin-left: 100px;
    bottom: 20px;
}

.collections img:hover{
    transform: scale(1.08);
    transition: 2s;
}

.dis img:hover{
    transform: translateY(-10);
    transition: 0.2s;
    box-shadow: 5px 10px 18px #888888;
}

.counts img:hover{
    transform: translateY(-10);
    transition: 0.2s;
    box-shadow: 5px 10px 18px #888888;
}

.discounts img:hover{
    transform: translateY(-10);
    transition: 0.2s;
    box-shadow: 5px 10px 18px #888888;
}

.under img:hover{
    transform: translateY(-10);
    transition: 0.2s;
    box-shadow: 5px 10px 18px #888888;
}

.icons{
    display: flex;    
}

.icons a{
    text-decoration: none;
    color: black;
}

/* .sub{
    display: flex;
    position: relative;
    bottom: 5px;
    font-weight: bold;
}   */

.discounts img{
    margin-top: 30px;
     padding: 70px;
} 

.under{
    padding-left: 60px;
    position: relative;
    top: 40px;
}

.under img{
    margin-top: -70px;
    padding: 70px;
}

.counts img{
    margin-top: 30px;
     padding: 45px;
} 


.dress{
    position: relative;
    top: 5px;
}

.border{
    border-bottom: 1px solid pink;
    width: 450px;
    position: relative;
    top: 90px;
    left: 50px;
}

.bottom{
    border-bottom: 1px solid pink;
    width: 400px;
    position: relative;
    left: 950px;
    top: 50px;
}


h2{
    color: darkmagenta;
    font-size: 35px;
    position: relative;
    top: 70px;
    display: inline-block;
    left: 540px;
    word-spacing: 15px;
}

.dis img{
    margin-top: 100px;
     padding: 20px;
} 

.dis1{
    margin-bottom: 20px;
}

.counts{
    position: relative;
    top: 70px;
}

footer{
    background-color: purple;
    height: 310px;
    margin-top: 150px;
}

.about{
    margin: 60px 70px;
    padding-top: 10px;
    color: white;
}

.us{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
    word-spacing: 5px;
}

.us a{
    text-decoration: none;
    color: white;
}

h4{
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact{
    font-size: 20px;
    margin: 70px 0px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact div{
    margin: 15px 0;
    font-size: 23px;
    color: white;
}

.con{
    font-size: 23px;
    position: relative;
    top: 10px;
    right: 5px;
}

.line{
    border-right: 2px solid gray;
    height: 190px;
    position: relative;
    top: 45px;
    right: 40px;
}

.socials{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.socials div{
    margin: 0 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    justify-content: center;
    border: 0;
}

.insta{
    background-image: linear-gradient(315deg, #7110d2, #de46a9);
    color: white;
}

.fb{
    background-color: #3b5998;
    color: white;
}

.wa{
    background-color: #25d366;
    color: white;
}

.twiter{
    background-color: #00acee;
    color: white;
}

.collections img{
    border-radius: 150px;
    padding: 40px;
}

.menu{
    display: none;
}




@media only screen and (max-width: 800px)
{

    header{
        height: 10vh;
        width: 100vw;
    }

    .logo{
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

    h1{
        font-size: 25px;
        margin-left: -50px;
    }

    .nav{
        display: none;
    }

    .menu{
        display: block;
        font-size: 26px;
        color: white;
        margin-top: 20px;
        margin-left: 90px;
        position: relative;
    }

    .menu-list a{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        color: white;
        padding: 5px;
        text-decoration: none;
    }

    .menu:hover .menu-list{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        margin-top: -38px;
        margin-left: -250px;
    }

    .menu-list{
        display: none;
        color: white;
        position: absolute;
    }

    .sub-heading{
        height: 8vh;
    }

    strong{
        font-size: 18px;
    }

    .new_release{
        margin-top: -17px;
        margin-left: -45px;
    }

    .icon{
        display: flex;
        margin-top: -84px;
        padding-left: 150px;
    }
    
    input[type=text]{
        height: 19px;
        width: 170px;
        padding: 2px 10px;
        border-radius: 5px;
        border: 1px solid gray;
        outline: none;
        font-size: 16px;
    }
    
    .search{
        color: gray;
        position: relative;
        top: 5px;
        left: -20px;
    }

    .icons{
        display: flex;
        margin: -30px -35px;
    }

    .icons img{
        width: 53px;
        height: 55px;
    }

    .collections img{
        padding: 10px;
    }
    
    .div{
        display: none;
    }
    
    .divs{
        display: none;
    }
    
    .divss{
        display: none;
    }

    .discounts{
        margin-top: 20px;
        padding: 10px;
    }

    .discounts .imgs{
        height: 230px;
        width: 350px;
        margin: 10px -50px;
        padding: 0;
    }

    .discounts img{
        margin-top: 20px;
        height: 230px;
        width: 250px;
        padding: 0;
    }

    .under{
        margin-top: 10px;
        padding: 10px;
    }

    .under img{
        margin-top: 20px;
        height: 230px;
        width: 250px;
        padding: 0;
    }

    .border{
        display: none;
    }

    .bottom{
        display: none;
    }

    h2{
        font-size: 25px;
        font-weight: bold;
        display: inline-block;
        margin-left: -530px;
    }

    .dis img{
        margin-top: 20px;
        height: 230px;
        width: 300px;
        padding: 0;
    }

    .dis{
        margin-top: 100px;
    }

    .counts{
        margin-top: -30px;
    }

    .counts img{
        height: 230px;
        width: 300px;
        padding: 0;
    }

    footer{
        height: 25vh;
        margin-top: 100px;
    }
    
    .about{
        margin: 10px 30px;
        padding-top: 10px;
        color: white;
    }
    
    .us{
        font-size: 16px;
        width: 100px;
    }
    
    .us a{
        text-decoration: none;
        color: white;
    }
    
    h4{
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 15px;
    }
    
    .contact{
        font-size: 20px;
        margin: 70px 0px;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contact div{
        margin: -30px 0;
        font-size: 20px;
        color: white;
    }
    
    .con{
        font-size: 20px;
        position: relative;
        left: 20px;
        top: -10px;
    }
    
    .line{
        border-right: 2px solid gray;
        height: 150px;
        position: relative;
        top: 22px;
        left: 1px;
    }
    
    .socials{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .socials div{
        margin: 0px 10px;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        border-radius: 50%;
        padding: 10px;
        justify-content: center;
        border: 0;
    }
    
    .contact div p{
        margin-top: 70px;
        font-size: 18px;
    }

    .socials .insta{
        margin-top: -12px;
    }


}