*{
    margin: 0px;
    font-family: 'Kreon', serif;
}


body{
    background-color: rgb(252, 252, 252);
}

header{
    display: flex;
    flex-wrap: wrap;
    background-color: 	purple;
    height: 100px;
    position: sticky;
    top: 0px;
    z-index: 10;
}

header div ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 550px;
}

header div ul li{
    padding-top: 40px;
    padding-left: 30px;
}

.nav a{
     text-decoration: none;
     color: white;
     font-size: 24px;
}

h1{
    font-size: 50px;
    font-weight: normal;
    padding-left: 60px;
    padding-top: 20px;
    color: white;
}

.logo{
    height: 70px;
    width: 70px;
    margin-top: 15px;
    margin-left: 50px;
    border-radius: 50px;
}

.login{
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.menu {
    display: none;
}

.sub-heading{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
}

.sub-heading a{
     text-decoration: none;
     padding-left: 60px;
     padding-top: 35px;
     color: black;
     font-size: 28px;
     height: 7vh;
}

.icon{
    display: flex;
    padding-top: 30px;
    padding-left: 180px;
}

.dis img:hover{
    transform: translateY(-10);
    transition: 0.2s;
    box-shadow: 5px 10px 18px #888888;
}

.counts img:hover{
    transform: translateY(-10);
    transition: 0.2s;
    box-shadow: 5px 10px 18px #888888;
}

.discounts img:hover{
    transform: translateY(-10);
    transition: 0.2s;
    box-shadow: 5px 10px 18px #888888;
}

.under img:hover{
    transform: translateY(-10);
    transition: 0.2s;
    box-shadow: 5px 10px 18px #888888;
}

/* .icon{
    display: flex;
    position: relative;
    bottom: 20px;
    padding-top: 50px;
    padding-left: 150px;
} */

.icons{
    display: flex;    
}

.icons a{
    text-decoration: none;
    color: black;
}

input[type=text]{
    height: 30px;
    width: 300px;
    padding: 5px 35px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}
.search{
    color: gray;
    position: relative;
    top:10px ;
    left:22px ;
}
.sub{
    display: flex;
    position: relative;
    bottom: 10px;
    font-weight: bold;
}    

.discounts img{
    margin-top: 30px;
     padding: 70px;
} 

.under{
    padding-left: 60px;
    position: relative;
    top: 40px;
}

.under img{
    margin-top: -70px;
    padding: 70px;
}

.dress{
    position: relative;
    top: 5px;
}

.border{
    border-bottom: 1px solid pink;
    width: 450px;
    position: relative;
    top: 50px;
    left: 50px;
}

.bottom{
    border-bottom: 1px solid pink;
    width: 450px;
    position: relative;
    left: 1000px;
    top: 10px;
}


h2{
    color: darkmagenta;
    font-size: 35px;
    position: relative;
    top: 30px;
    display: inline-block;
    left: 540px;
    word-spacing: 15px;
}

.counts img{
    margin-top: 30px;
     padding: 45px;
} 

.dis img{
    margin-top: 100px;
     padding: 20px;
} 

footer{
    background-color: purple;
    height: 310px;
    margin-top: 150px;
}

.about{
    margin: 60px 70px;
    padding-top: 10px;
    color: white;
}

.us{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
    word-spacing: 5px;
}

.us a{
    text-decoration: none;
    color: white;
}

h4{
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact{
    font-size: 20px;
    margin: 70px 0px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact div{
    margin: 15px 0;
    font-size: 23px;
    color: white;
}

.con{
    font-size: 23px;
    position: relative;
    top: 10px;
    right: 5px;
}

.line{
    border-right: 2px solid gray;
    height: 190px;
    position: relative;
    top: 45px;
    right: 40px;
}

.socials{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.socials div{
    margin: 0 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    justify-content: center;
    border: 0;
}

.insta{
    background-image: linear-gradient(315deg, #7110d2, #de46a9);
    color: white;
}

.fb{
    background-color: #3b5998;
    color: white;
}

.wa{
    background-color: #25d366;
    color: white;
}

.twiter{
    background-color: #00acee;
    color: white;
}

.collections img{
    border-radius: 150px;
    padding: 40px;
}

.icons div{
    position: relative;
}

.div{
    font-size: 25px;
    font-weight: bold;
    margin-left: 70px;
    display: inline-flex;
    bottom: 20px;
}

.divs{
    font-size: 25px;
    font-weight: bold;
    margin-left: 90px;
    bottom: 20px;
}

.divss{
    font-size: 25px;
    font-weight: bold;
    margin-left: 100px;
    bottom: 20px;
}
