*{
    margin: 0px;
}
body{
    font-family: 'Times New Roman', Times, serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: purple;
    height: 100px;
}

header div ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    margin-left: 450px;
}

header div ul li{
    padding-top: 40px;
    padding-left: 30px;
}

header div ul li a{
     text-decoration: none;
     color: black;
}

h1{
    font-size: 50px;
    font-weight: normal;
    padding-left: 60px;
    padding-top: 20px;
    color: white;
}

.logo{
    margin-top: 15px;
    margin-left: 80px;
    border-radius: 50px;
}

.login{
    font-size: 20px;
    color: white;
}

.image img{
    border-radius: 10px;
}

.sub-images{
    position: relative;
    top: 60px;
    display: inline-block;
    padding: 10px;
}

.sub-images:hover{
   transform: translateY(-5px);
   transition: 0.2s;
   box-shadow: 5px 10px 18px  #888888;
}

.sub-images img{
    border-radius: 5px;
}

.detail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 130px;
}

.right{
    margin-left: 150px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
    color: red;
    position: relative;
    top: 15px;
}

h4{
    font-size: 20px;
    color: green; 
    position: relative;
    top: 20px;
}

p{
    font-size: 22px;  
    position: relative;
    top: 28px;  
}

s{
    color: gray;
}

b{
    color: green;
}

strong{
    font-size: 20px;
    position: relative;
    top: 50px;
    
}

.para{
    position: relative;
    top: 40px;
}

.stars{
    font-size: 20px;
}

.star{
    position: relative;
    top: 35px;
}

.details{
    position: relative;
    top: 60px;
}

.add{
    height: 50px;
    width: 200px;
    border: 2px solid darkorange;
    background-color: darkorange;
    border-radius: 5px;
    color: white;
    position: relative;
    top: 130px;
    left: 40px;
    font-size: 20px;
}

.add a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.buy{
    height: 50px;
    width: 200px;
    border: 2px solid darkorange;
    background-color: darkorange;
    border-radius: 5px;
    color: white;
    position: relative;
    top: 130px;
    left: 120px;
}

.buy a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.wish{
    height: 50px;
    width: 200px;
    border: 2px solid red;
    background-color: red;
    border-radius: 5px;
    color: white;
    position: relative;
    top: 230px;
    right: 230px;
}

.wish a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.comment{
    margin-top: 300px;
    font-size: 20px;
}

.commen{
    margin-top: 30px;
    font-size: 20px;
    margin-left: 123px;
}

.comm{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 123px;
}

input{
    border-radius: 3px;
    border: 1px solid gray;
    height: 50px;
    width: 500px;
    position: relative;
    top: 15px;
}

.thumbnail{
    position: relative;
    top: 10px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
}

.products{
    border: 1px solid #f8f8f8;
    border-radius: 5px;   
    height: 380px;
    width: 300px;
    background-color: #f8f8f8;
}

.products img{   
    border-radius: 10px;
    margin: 20px 0px 0px 35px;
}

.similar{
    margin-top: 100px;
}

.similar h2{
    margin-left: 50px;
}

.products p{
    margin-left: 50px;
    margin-top: -20px;
}

h5{
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
}

.title{
    font-size: 20px;
    margin-top: 20px;
}

.percent{
    color: green;
}
